/* animate  */
.author,
.title,
.topic,
.des,
.button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.title {
    animation-delay: 1.2s;
}

.topic {
    animation-delay: 1.4s;
}

.des {
    animation-delay: 1.6s;
}

.button {
    animation-delay: 1.8s;
}